<h1>Categorymaster</h1>

<form action='/addcategorydetails' method="post">
    <input type="text" name="category" placeholder="Enter the cartegory" required><br><br>
    <input type="hidden" name="productid" value="<%= data %>" > <br><br>
    <input type="submit" value="submit" />

</form>